<<<<<<< HEAD
nav {
  text-align: center;
}
#name {
  text-align: center;
  font-size: 5rem;
}
#slogan {
  text-align: center;
}
#CTA {
  text-align: center;
}
#howitworks {
  text-align: center;
}
#whygigapet {
  text-align: center;
}
#steps {
  display: flex;
}
#step1 {
  border: solid;
  border-radius: 1cm;
  margin: 1rem;
  padding: 1rem;
}
#step2 {
  border: solid;
  border-radius: 1cm;
  margin: 1rem;
  padding: 1rem;
}
button {
  padding: 1rem;
  margin: 1rem;
=======
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Short Stack', cursive;
}
.name {
  display: flex;
  justify-content: center;
  font-size: 50px;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
}
.navbar a {
  justify-content: space-between;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  text-decoration: none;
}
.info {
  padding: 20px 50px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px;
>>>>>>> 5171810de34d5d5d8a1a1b8523183ee81e25f021
}
