nav {
  text-align: center;
}
#name {
  text-align: center;
  font-size: 5rem;
}
#slogan {
  text-align: center;
}
#CTA {
  text-align: center;
}
#howitworks {
  text-align: center;
}
#whygigapet {
  text-align: center;
}
#steps {
  display: flex;
}
#step1 {
  border: solid #063f06;
  border-radius: 1cm;
  margin: 1rem;
  padding: 1rem;
  background-color: #137e13;
  color: white;
}
#step2 {
  border: solid #063f06;
  border-radius: 1cm;
  margin: 1rem;
  padding: 1rem;
  background-color: #137e13;
  color: white;
}
button {
  padding: 1rem;
  margin: 1rem;
  border: solid #063f06;
  border-radius: 10px;
  background-color: #137e13;
  color: white;
}
button:hover {
  background-color: #2bbb2b;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Short Stack', cursive;
  background: linear-gradient(#f9f871, #7deca1);
}
#gigapet {
  color: white;
  text-align: right;
}
body {
  color: #085429;
}
.name {
  display: flex;
  justify-content: center;
  font-size: 50px;
}
.info {
  padding: 10px 25px;
  display: flex;
  flex-wrap: wrap;
  margin: 30px 200px;
  justify-content: center;
  border: solid #063f06;
  border-radius: 1cm;
  background-color: #137e13;
  color: white;
}
.topimage2 {
  display: flex;
  justify-content: center;
}
#topimage2 {
  display: flex;
  margin: 1rem;
  height: 25%;
  width: 25%;
}
.container-about {
  display: flex;

  flex-direction: column;

 
}
.about-top {
  display: flex;
}
.about-bottom {
  display: flex;
  justify-content: center;
}
p {
  display: flex;
}
.person {
  margin: 5%;
  text-align: center;
  padding: 5px;
  width: 100%;
  border: solid #063f06;
  border-radius: 1cm;
  background-color: #137e13;
  color: white;
}
#picture {
  height: 125px;
  border-radius: 50%;
}
footer {
  display: flex;
  justify-content: center;
}
#topimage {
  width: 100%;
  height: 50%;
  margin-top: 1rem;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.active {
  background-color: #4CAF50;
  color: white;
}
.topnav .icon {
  display: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}
.dropdown:hover .dropdown-content {
  display: block;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
