nav {
    text-align: center;
  }
  
  #name {
    text-align: center;
    font-size: 5rem
  }
  
  #slogan {
    text-align: center;
  }
  #CTA {
    text-align: center;
  }
  
  #howitworks {
    text-align: center;
  }
  
  #whygigapet {
    text-align: center;
  }

  #steps {
      display: flex;
  }

  #step1 {
    border: solid;
    border-radius: 1cm;
    margin: 1rem;
    padding: 1rem;
  }

  #step2 {
    border: solid;
    border-radius: 1cm;
    margin: 1rem;
    padding: 1rem;
  }

  button {
      padding: 1rem;
      margin: 1rem;
  }