.name {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;

    a {
        justify-content: space-between;
        padding: 10px;
        border: 2px solid black;
        border-radius: 5px;
        text-decoration: none;
    }
}

.info {
    padding: 20px 50px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px;
}

